@font-face {
    font-family: 'Vazir';
    src: url('./Fonts/Vazir.woff2') format('woff2'),
        url('./Fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-black1: #0f0f0f;
    --color-black2: #1a1a1a;
    --color-black3: #1e1e1e;
    --color-black4: #141414;
    --color-black5: #292929;
    --color-yellow1: #FEB60A;
    --color-yellow2: #ffcc00;
    --color-gray1: #727272;
    --color-white1: #e9e9e9;
    --linear-deg: 140deg;
}

a:link,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}


.color-white1 {
    color: var(--color-white1) !important;
}

.color-black1 {
    color: var(--color-black1) !important;
}

.color-black2 {
    color: var(--color-black2) !important;
}

.color-black3 {
    color: var(--color-black3) !important;
}

.color-yellow1 {
    color: var(--color-yellow1) !important;
}

.color-yellow2 {
    color: var(--color-yellow2) !important;
}

.fill-color-yellow2 {
    /* fill: var(--color-yellow2) !important; */
}

.color-gray1 {
    color: var(--color-gray1) !important;
}

.bg-yellow1 {
    background-color: var(--color-yellow1) !important;
}

.bg-gray1 {
    background-color: var(--color-gray1) !important;
}

.bg-black1 {
    background-color: var(--color-black1) !important;
}

.bg-black2 {
    background-color: var(--color-black2) !important;
}

.bg-black3 {
    background-color: var(--color-black3) !important;
}

.bg-black5 {
    background-color: var(--color-black5) !important;
}

.transition {
    transition: all ease 0.3s;
}

.bg-linear {
    background-image: linear-gradient(var(--linear-deg), var(--color-black3), var(--color-black4));
}

.resize-none {
    resize: none !important;
}