@media only screen and (max-width: 992px) {
    .project-picture {
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {

    .project-picture {
        height: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .email-text {
        font-size: 14px !important;
    }
}