/* global */

body {
    font-family: 'Vazir', sans-serif;
}

/* header */

.navbar-links {
    display: flex;
}

.contact-link,
.logo-text {
    font-size: 20px;
}

.contact-link:hover {
    color: #1a1a1a !important;
    background-color: #ffcc00 !important;
}

.nav-links:hover:not(.active-nav-links) {
    color: #ffcc00 !important;
}

.menu-burger-icon {
    width: 25px;
    height: 25px;
}

/* main */

.profile-picture-icon {
    border-radius: 5px 30px 5px 30px;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-underline:after {
    border-color: #FEB60A;
    border-width: 3px;
    content: '';
    position: absolute;
    top: 95%;
    width: 80%;
    aspect-ratio: 5 / 2;
    left: 50%;
    transform: translate(-50%, 15px);
    -webkit-transform: translate(-50%, 15px);
    border-radius: 50%;
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    border-style: solid;
    margin-top: 30px;
}

.three-box-row {
    --bs-gutter-x: 0 !important;
}

.lets-work {
    height: 221.6px;
}

.lets-work-about-page {
    height: 233px;
}