/* global */

body {
    font-family: 'Vazir', sans-serif;
}

/* header */

.contact-link,
.logo-text {
    font-size: 20px;
}

.contact-link:hover,
.send-message-btn:hover {
    color: #1a1a1a !important;
    background-color: #ffcc00 !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.side-navbar {
    height: 110vh !important;
    margin-top: -24px !important;
    right: -100% !important;
}

.open-side-navbar {
    right: 0 !important;
}

.active-overlay {
    display: block !important;
}

.nav-links:hover:not(.active-nav-links) {
    color: #ffcc00 !important;
}

.menu-burger-icon {
    width: 25px;
    height: 25px;
}

/* main */

.profile-picture-icon {
    border-radius: 5px 30px 5px 30px;
}

.profile-picture-icon-skills {
    border-radius: 5px 5px 5px 30px;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-underline:after {
    border-color: #FEB60A;
    border-width: 3px;
    content: '';
    position: absolute;
    top: 95%;
    width: 80%;
    aspect-ratio: 5 / 2;
    left: 50%;
    transform: translate(-50%, 15px);
    -webkit-transform: translate(-50%, 15px);
    border-radius: 50%;
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    border-style: solid;
    margin-top: 30px;
}

.three-box-row {
    --bs-gutter-x: 0 !important;
}

.lets-work {
    height: 221.6px;
}

.lets-work-about-page {
    height: 233px;
}

.project-picture {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.textarea {
    height: 200px;
}

input::placeholder,
.textarea::placeholder {
    color: #727272 !important;
}

.social-links:hover {
    background-color: #ffcc00 !important;
}

.social-links:hover svg>* {
    stroke: #1a1a1a !important;
}

.progress-bar-percent {
    margin-left: -1px !important;
    width: 60px !important;
    height: 55px !important;
}

.progress-bar {
    transition-timing-function: linear !important;
}